// Tables

@mixin table-row-variant($state, $background, $border: null) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table-#{$state} {
    $color: color-yiq($background);

    --table-bg: #{$background};
    --table-accent-bg: #{mix($color, $background, 5%)};
    --table-hover-bg: #{mix($color, $background, 7.5%)};
    --table-hover-color: #{color-yiq(mix($color, $background, 7.5%))};

    color: $color;
    border-color: $border;
  }
}
